/**
.vaccineBg {
    background-image: url(img/patient.jpg);
    background-attachment: fixed ; fixed position
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
*/
#loginPage{
    background-color:rgb(255, 247, 238);
}


/**
*
*
*
*LANDING PAGE
*
*
*
*/
.introTitle h1{
    text-align: center;
    font-size:3.5rem;
    color:rgb(202, 63, 28);background-size: cover;

}


.formBg{
    background-color:hsl(44, 100%, 97%);
    
}

.introBg{
    background-color: cornsilk;
    background-image: url(img/top-bg.png);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    padding: 10%;
    align-content: center;
}

.decorate{
    background-image: url(img/bg-decorate.png);
    background-color:rgb(255, 247, 238);
    background-attachment: fixed ;
    background-size:cover;
    background-repeat: no-repeat;
    
}

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #ffffff;
  }

  #footer .copyright {
    text-align: center;
    padding-top: 0px;
    color: #535074;
    font-size: 15px;
  }

  /**
*
*
*
*RECORD VACCINE BATCH PAGE (ADMIN HOMEPAGE)
*
*
*
*/
#RNVBPage{
    background-color:aliceblue
}

.rnvbBg{
    background-color: cornsilk;
    background-image: url(img/recordNewVaccineBatchWallpaper.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    padding: 10%;
}

.horizontalOverflow{
    overflow-x: auto;
}

.transition{
    transition: 0.5s;
}



* {box-sizing: border-box}


body{
    background-color:rgb(255, 255, 255) ;
    /*background-image: linear-gradient(to bottom right,orange, cornsilk);*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

/* Set a style for all buttons */
button {
  background-color: #368ff4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f37543;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */

.container1 {
    padding: 16px;
  } 
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }


  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

  
}


.vaccine {
  background-image: url(img/vaccination1.jpg);
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.vaccine h1{
  font-size: 400%;
  color: rgb(255, 243, 70);
}



#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #ffffff;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 0px;
    color: #535074;
    font-size: 15px;
  }
  